/*Center the comment div horizontally*/
#comment-div {
    position: absolute;
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    top: 50%;
    right: -2px;
    z-index: 99;

}
.div-padding-right{
    padding-right: 57px;
}

.right {
    float: right;
}

#comment-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #2184be;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
}

.modal-dialog-slideout {
    min-height: 100%;
    margin: 0 0 0 auto;
    background: #fff;
}

.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(50%, 0) scale(1);
    transform: translate(50%, 0) scale(1);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 100%;
}

.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-dialog-slideout .modal-content {
    border: 0;
}

.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {
    height: 69px;
    display: block;
}

.modal-dialog-slideout .modal-header h5 {
    float: left;
}

.jumbotron {
    padding-top: 6%;
    padding-bottom: 6%;
}

